/* style css */

* {
  box-sizing: border-box
}

body {
  background-image: url(../images/brickwall.png);
  background-color: #ffffff;
  line-height: 1.8em;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

.container {
  width: 100%;
  height: auto;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
 }


h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: #4aaaa5;
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 30px;

}


#navbar-pad {
  padding-left: 0;
  padding-right: 0;

}

#masthead {
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  /* height: 72px; */

  /* margin: 0 0 30px 0; */
  border-bottom: 2px solid #777777;
  margin-bottom: 30px;
  /* overflowL  auto */
    /* position: fixed; */
}

#logo {
  width: 250px;
  height: 88px;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 28px 20px 12px 20px;
 }

#main-container {
  padding: 30px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 2px solid #dddddd;


}

#auth-image {
  float: left;
  width: 350px;
  height: auto;
  padding-right: 30px;
  /* margin-top: 20px; */
}

/* nav menu - social icon container */
.nav-item {
  padding: 20px 0px 20px 10px; 
  padding-bottom: 20px;
}

/* nav menu - social icon image */
.social-icon {
  width: 30px;
  height: 30px;
}

/* footer container */
footer {
  background-color: #666666;
  position: relative;
  height: 70px;
  border-top: 8px solid #4aaaa5;
  font-size: 9pt;
  color: #cccccc;
  margin-top: 30px;
}

/* copyright container */
/* absolute position the Copyright up from bottom 
   center the Copyright within footer horizontally using the transform.
   Do same for icon attribution
*/
#copyRight {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%);
  }

/* container for the icon usage attribution */
#iconCredit {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  font-size: 8px;
  }


  /*
  These rules take effect when the browser's width
  is either 768px or less.
*/

/* resize nav item margins */
@media screen and (max-width: 768px) {
  .nav-item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 40px;
  }

  .nav-link {
    font-size: 14px;
  }

  #masthead {
    margin-bottom: 0px;
    position: static;
  }
  #main-container {
    margin-top: 6px;
  }

}
  /* The body's bg color will be #333 */
  /* body {
    background-color: #333;
  } */

  /* The wrapper's width will be 600px */
  /* .wrapper {
    width: 600px;
  }
} */
